.footer {
  align-items: center;
  border-top: 2px solid $color-black;
  display: flex;
  font-weight: 200;
  height: $header-height;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
