$breakpoint-medium: 900px;
$breakpoint-small: 650px;

$above-small: $breakpoint-small + 1;

$color-black: #000;
$color-gray: #D4D4D4;
$color-purple: #8445FF;
$color-purple--dark: #6212FF;
$color-white: #FFF;

$header-height: 100px;
